<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name = "proischestwia" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\manic\Desktop\КПЯП\КПЯП\ПРАКТИКА\Lab34\Lab34\Lab34\Proischestwia.mdf;Integrated Security=True"/>
	</connectionStrings>
</configuration>